{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
       <h1> {{ category.name }} </h1>
       <p> Cette catégorie contient {{ category.products|length }} produits </p> 
        
        <h2>Liste Produits</h2>
        <div class="row">
                {% for product in category.products %}

                <div class="col-md-3 text-center">
                    <img src="/uploads/{{ product.image }}" alt="" class="img-fluid" >
                    <strong> {{ product.name }} </strong>
                    <span class="d-block"> {{ product.priceWithTva }} MAD </span>

                </div>
                {% endfor %}
        </div>
        
    </div>
{% endblock %}
